/* css looks terrible 
still getting null issues when paid teirs are clicked.  
I think completing stripe sign in will work better. 
Tomorrow use your stripe keys and then when it works put ## add your key in*/


body{
  width: 100%;
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  justify-content: center;
}

.product-list{
  display: flex;
  flex-flow: row;
  
}

.teir{
  display: flex;
  flex-flow: column;
  align-items: center;
  
  margin: 20px;
}


.show-form{
  background-color: white;
}
.product{
  background-color: blue;
  

  
  /* display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 30px; */
}

.create-account-button {
  /* margin-right: 30px; */
}

.teir-description{
  text-align: center;
}

.contact-form{
  background-color: white;
  width: 40px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}